<form method="post" action="{{ path('app_client_delete', {'codeClient': client.codeClient}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ client.codeClient) }}">
    <button class="btn">Supprimer</button>
</form>



